injector:
  enabled: false

server:
  dataStorage:
    storageClass: ebs-sc

  service:
    enabled: true

  ha:
    enabled: false
    replicas: 1
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      storage "consul" {
        bucket     = "vault"
        address = "HOST_IP:8500"
       }

      service_registration "kubernetes" {}